<section class="px-8 bg-base-100 h-screen flex justify-center items-center ">
    <div class="card bg-white shadow-xl pt-4 px-4">
        <div class="card-body text-neutral">
            <h2 class="text-2xl font-semibold mb-4">Password Change Required</h2>
            <p class="text-lg">For security reasons, you need to set up a new password before you can access your account.</p>
            <p class="text-lg">We've sent password reset instructions to your email. Please check your inbox.</p>
            <div class="card-actions justify-end mt-4">
                <button class="btn" id="backloginBtn" onclick="history.back()" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                    </svg>
                    Back to login
                </button>
            </div>
        </div>
    </div>
</section>


