
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Nunito Sans', ui-sans-serif, system-ui, sans-serif;
}

/* Microsoft Edge & Chromium password reveal button */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}
